*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Epilogue', sans-serif; 
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 98%);
}
header{
    padding: 16px 16px;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: calc(3rem + 4vw);
}
.menu--btn{
    max-width: 40px;
    max-height: 25px;
    width: calc(1rem + 6vw) ;
    height: calc(1rem + 2vw);
}
menu{
    display: none;
}
/* !MOBILE */
.mobile--menu{
    background-color: rgb(225, 155, 102);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    right: 0;
    /* display: none; */
    width: 70vw;
    height: 140vh;
    text-align: left;

}
/* ! X ICON */
.close--menu{
    width: 1rem;
}
.dropdown{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.dropdown-content{
    display: flex;
    flex-direction: column;
    border: 2px rebeccapurple solid;
}
/* !  */
.hero--mobile{
    background-image: url(./images/image-hero-mobile.png);
    background-size: cover;
    background-repeat: none;
    height: 90vw;
    max-height: 300px;
    margin-bottom: calc(1rem + 3vw);
}
.contents{
    text-align: center;
    margin: 0 20px;
}
h1{  
    margin-bottom: calc(0.7rem + 1vw);
    font-weight: 800;
    font-size: calc(1rem + 3vw) ;
    color: hsl(0, 0%, 8%);
}
.body-paragraph{  
    margin-bottom: calc(15px + 2.5vw);
    font-weight: 500;
    font-size: calc(10px + 2vw);
}
p{
    color: hsl(0, 0%, 41%);
}
button{
    /* width: 140px;  */
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    padding: 15px;
    border-radius: 1rem;
    margin-bottom: calc(1.5rem + 3vw);
    font-size: 1rem;
    font-family: 'Epilogue', sans-serif; 
    font-weight: 700;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
footer img{
    width:  calc(1rem + 12vw);
}
/* Tablet 375px */
/* ! Mobile Active state (COLLAPSE)*/
menu{
    /* display: none; */
}
/* ! Mobile Active state (EXPANDED) */


/* ? Laptop 700px */
@media screen and (min-width: 700px){
    header{
        padding: 1.5rem calc(1rem + 2vw) 1.9rem;
        /* border: 3px black solid; */
        max-height: 10px;
    }
    nav{
        display: flex;
        margin: 0;
        /* border: 3px grey solid; */
    }
    .logo{
        margin-right:calc(1.4rem + 2vw);
        width: calc(3rem + 2vw);
        height: calc(0.5rem + 2vw);
    }
    
    /* DROPDOWN */

    .menu--btn{
        display: none;
    }
    menu{
        display:flex ;
        justify-content:space-between;
        width: 90vw;
        font-size: calc(0.4rem + 1vw);
        /* border: 3px pink solid; */
    }
    .about--info{
        display: flex;
        justify-content:space-around;
    }
    .about--info p{
        margin-right: 1.9rem;
    }
    .about--info p:hover{
        cursor:pointer;
    }
    /*! arrows beside feature and company */
    .arrow-up{
        width: calc(0.2rem + 1vw);
    }
    /* ! Animate arrow such that, when you clicked it the rotates 180 degrees*/
    /* ! DROPDOWN */
    .dropdown{
        position: relative;
        /* z-index: 999; */
        /* border: 3px orangered solid; */
    }
    .dropdown-content a{
        display: none;
        font-size: calc(0.2rem + 1vw);
    }

    .dropdown-content{
        display: none;
        /* display: block; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.5rem;
        text-align: left;
        padding: calc(0.2rem + 1vw) calc(0.5rem + 1vw) 0;
        /* width: 130px; */
        margin-top: 15px;
        /* border: 3px green solid; */    
    }
    .feature-align{
        position: absolute;
        right: 35px;
    }
    .dropdown-item{
        
        /* display: flex; */
        display: none;

        text-decoration: none;
        color: hsl(0, 0%, 8%);
        margin-bottom: 1rem;
        z-index: 999;

    }
    /* ! icons */
    .dropdown-item img{
        margin-right: 15px ;
        width: 1rem;
    }
    /* ! END DROPDOWN*/
    .account p:hover{
        cursor: pointer;
    }
    .account{
        display: flex;
        justify-content: right;
    }
    #login{
        margin-right: 1.9rem;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-end;
        margin-bottom: 3rem;
        height: 90vh;
        /* border: 2px royalblue solid; */
    }
    .hero--mobile{
        display: none;
    }
    .hero--desktop{
        background-image: url(./images/image-hero-desktop.png);
        background-size:90%;
        height: 80vh;
        width: 35vw;
        margin-bottom: calc(1rem + 3vw);
        margin: 0 3vw;
        /* border: 2px solid skyblue; */
    }
    .contents{
        text-align: left;
        margin: 0 3vw;
        /* border: 2px solid red; */
        width: 40vw;
        align-items: flex-end;
        position: relative;  
    }
    h1{  
        margin-bottom: 1.5vw;
        font-weight: 700;
        font-size: calc(1rem + 2.8vw) ;
        z-index: 1;
    }
    .body-paragraph{  
        font-weight: 500;
        color: hsl(0, 0%, 41%);
        font-size: calc(0.3rem + 1vw) ;
        margin-bottom: calc(1rem + 1vw) ;
        width: 350px;
    }
    button{
        padding: calc(0.1rem + 1vw);
        font-size: calc(0.4rem + 1vw);
        margin-bottom: calc(3rem) ;
        border-radius: 1rem;
    }
    footer{
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        margin-bottom: 0;
        padding-bottom: 0 ;
    }
    footer img{
        width:  calc(1rem + 5vw);
    }
}
/* Desktop 1440px*/
/* Desktop active State */
